In [5]:
import pandas as pd

# PD Data

In [6]:
df1 = pd.read_excel("artifacts\VIL PD Alarm - Final (2).xlsx")

In [7]:
df1

,Sr.N,Site ID,4G node name,New NSS ID,4G node,ID/OD,DG/Non DG,Zone,IP ID,Global ID,...,6-Mar USI,Alarms.64,7-Mar USI,Alarms.65,8-Mar USI,Alarms.66,9-Mar USI,Alarms.67,10-Mar USI,Alarms.68
0,1,SKWD01,LSKWD01,IDMH107426,1.0,ID,DG,ID_AHMEDNAGAR,MH2287,505252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,PWNR01,LPWNR01,IDMH100129,1.0,OD,DG,ID_CHANDRAPUR,INMHUSO074,451431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AMVT69,LAMVT69,IDMH100314,3.0,OD,NON DG,ID_AMRAVATI,MA/AM/ID/14357,530134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,GTNJ01,4GTNJ01,IDMH100425,2.0,OD,NON DG,ID_AMRAVATI,TRONAG0252,566005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PLAM01,LPLAM01,IDMH101191,3.0,OD,DG,ID_NANDED,MH2023,505086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,4404,KAGL12,LKAGL12,INMHVF5679,1.0,OD,NaN,ID_KOLHAPUR,VF5679,451580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4404,4405,JLGN34,4JLGN34,IDMH108758,2.0,OD,DG,ID_AKOLA,TRONSK1317,566315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4405,4406,TKMB01,LTKMB01,INMH406297,1.0,OD,DG,ID_NANDED,ID-1004225,460100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4406,4407,LNVL38,LLNVL38,INMH406493,1.0,OD,DG,ID_RAIGARH,MA/PU/VO/14370,530398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4407,4408,LMGOD7405-GAGODE-VIOM-L,LMGOD7405-GAGODE-VIOM-L,INMHVF2393,1.0,OD,DG,ID_RAIGARH,TMARAI1186,570424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df1.shape

(4408, 180)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4408 entries, 0 to 4407
Columns: 180 entries, Sr.N to Alarms.68
dtypes: float64(156), int64(2), object(22)
memory usage: 6.1+ MB

In [15]:
df1.columns

Index(['Sr.N', 'Site ID', '4G node name', 'New NSS ID', '4G node', 'ID/OD',
       'DG/Non DG', 'Zone', 'IP ID', 'Global ID',
       ...
       '6-Mar USI', 'Alarms.64', '7-Mar USI', 'Alarms.65', '8-Mar USI',
       'Alarms.66', '9-Mar USI', 'Alarms.67', '10-Mar USI', 'Alarms.68'],
      dtype='object', length=180)

In [22]:
df2 = df1[["Site ID","Global ID","Site Name","Cluster","CE","RCA-1","RCA-2","Action Plan","Status","Closure Date/TAT","Jan-25","Feb-25","Mar-25","2025 PD Count"]]

In [24]:
df2.columns

Index(['Site ID', 'Global ID', 'Site Name', 'Cluster', 'CE', 'RCA-1', 'RCA-2',
       'Action Plan', 'Status', 'Closure Date/TAT', 'Jan-25', 'Feb-25',
       'Mar-25', '2025 PD Count'],
      dtype='object')

In [27]:
df2[['Jan-25', 'Feb-25', 'Mar-25', '2025 PD Count']] = df2[['Jan-25', 'Feb-25', 'Mar-25', '2025 PD Count']].fillna(0)

C:\Users\shreyash12\AppData\Local\Temp\ipykernel_13992\636916117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Jan-25', 'Feb-25', 'Mar-25', '2025 PD Count']] = df2[['Jan-25', 'Feb-25', 'Mar-25', '2025 PD Count']].fillna(0)

In [ ]:
df_Cluster = pd.pivot_table(df2, index = 'Cluster', values = ['Global ID'], aggfunc = 'count')

In [34]:
df_Cluster

                   Global ID  Status
Cluster
AHMEDNAGAR               245     245
AKOLA                    440     440
CH SAMBHAJI NAGAR        402     402
GOA                      170     170
KOLHAPUR                 459     459
LATUR                    273     273
NAGPUR                   507     507
NASHIK                   410     410
PUNE-1                   428     428
PUNE-2                   390     390
PUNE-3                   403     403
SOLAPUR                  281     281

In [52]:
df2_filtered = df2[(df2['2025 PD Count'] != 0)]
dfc = pd.pivot_table(df2_filtered, index = 'Cluster',columns= 'Status', values = ['Global ID'], aggfunc = 'count')

In [53]:
dfc

                  Global ID
Status               Closed  Open Site Switch Off To Be Update
Cluster
AHMEDNAGAR             32.0  48.0             NaN         18.0
AKOLA                  25.0  66.0             NaN         85.0
CH SAMBHAJI NAGAR      13.0  63.0             NaN         65.0
GOA                     9.0  25.0             NaN         18.0
KOLHAPUR                6.0  39.0             NaN        112.0
LATUR                  41.0  74.0             NaN          1.0
NAGPUR                 24.0  49.0             NaN        128.0
NASHIK                 38.0  68.0             NaN         51.0
PUNE-1                 20.0  61.0             NaN         98.0
PUNE-2                 19.0   9.0             1.0        107.0
PUNE-3                 20.0  33.0             NaN         99.0
SOLAPUR                12.0  18.0             NaN         61.0